@import url('Font.css');

.div {
    position: relative;
    font-size: 24.99px;
    font-weight: 600;
    font-family: var(--font-montserrat-alternates);
    color: var(--main);
    text-align: left;
}
.homepage-banners-big-btn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--eb1d36);
    position: absolute;
    top: 396.79px;
    left: 71.86px;
    border-radius: 5.21px;
    width: 243.7px;
    height: 66.65px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-banners-big-arrow-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homepage-banners-big-arrow-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 7.11%;
    width: 2.02%;
    top: 46.2%;
    right: 1.69%;
    bottom: 46.69%;
    left: 96.28%;
}
.homepage-banners-big-pic {
    align-self: stretch;
    position: relative;
    height: 510px;
    /*background-image: url(/public/homepage-bannersbigpic@3x.png);*/
    background-image: url(images/pic-homepage-banners-big.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.frame-child {
    position: relative;
    border-radius: 6.01px;
    background-color: var(--d9d9d9);
    width: 189.9px;
    height: 8.9px;
}
.frame-item {
    position: relative;
    border-top: 0.8px solid var(--d9d9d9);
    box-sizing: border-box;
    width: 950.32px;
    height: 0.81px;
    margin-left: -189px;
}
.rectangle-parent {
    flex: 1;
    height: 8.9px;
    display: flex;
    flex-direction: row;
    padding: 4.426427841186523px 759.7122802734375px 4.470789909362793px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}
.arrow-right-svgrepocom {
    flex: 1;
    position: relative;
    height: 88.77px;
    overflow: hidden;
    transform: rotate(180deg);
    transform-origin: 0 0;
}
.homepage-banners-big-slider {
    width: 944.82px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.homepage-banners-big-div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xl);
}
.div1 {
    position: relative;
    font-size: var(--font-size-mini);
    font-weight: 600;
    font-family: var(--font-montserrat-alternates);
    color: var(--main);
    text-align: left;
}
.homepage-banners-small-top-btn {
    cursor: pointer;
    border: 0;
    padding: 0 var(--padding-2xl);
    background-color: var(--eb1d36);
    border-radius: var(--br-8xs);
    width: 155px;
    height: 49px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
}
.homepage-banners-small-top {
    align-self: stretch;
    height: 258.81px;
    padding: 42.814361572265625px 27.642822265625px;
    box-sizing: border-box;
    align-items: flex-end;
    /*background-image: url(/public/homepage-bannerssmalltop@3x.png);*/
    background-image: url(images/pic-homepage-banners-small-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.homepage-banners-small,
.homepage-banners-small-down,
.homepage-banners-small-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.homepage-banners-small-down {
    align-self: stretch;
    height: 259px;
    padding: 43.185546875px 30.6947021484375px;
    box-sizing: border-box;
    align-items: flex-end;
    /*background-image: url(/public/homepage-bannerssmalldown@3x.png);*/
    background-image: url(images/pic-homepage-banners-small-down.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.homepage-banners-small {
    width: 396.82px;
    align-items: flex-start;
    gap: var(--gap-10xl);
}
.homepage-banners-div,
.homepage-banners-small-div,
.homepage-main-banners-div {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.homepage-banners-small-div {
    width: 421px;
    height: 562px;
    flex-shrink: 0;
    flex-direction: column;
}
.homepage-banners-div,
.homepage-main-banners-div {
    box-sizing: border-box;
}
.homepage-banners-div {
    align-self: stretch;
    height: 596px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 34.36756896972656px 0 0;
    gap: 31.24px;
}
.homepage-main-banners-div {
    background-color: var(--color-gray-100);
    width: 1440px;
    flex-direction: column;
    padding: var(--padding-lgi) var(--padding-11xl);
}
.strokes-icon {
    position: relative;
    width: 124px;
    height: 139px;
}
.div3 {
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    font-family: var(--font-montserrat-alternates);
    color: var(--eb1d36);
    text-align: center;
    display: inline-block;
    width: 144px;
}
.homepage-chandeliers-category {
    cursor: pointer;
    border: 0.7px solid var(--d9d9d9);
    padding: var(--padding-16xl) 25.7763671875px var(--padding-16xl)
    29.2236328125px;
    background-color: var(--main1);
    flex: 1;
    border-radius: 6.91px;
    box-sizing: border-box;
    height: 289px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.vector-icon {
    position: relative;
    width: 75px;
    height: 140px;
}
/*.homepage-table-lamps-category {*/
/*    cursor: pointer;*/
/*    border: 0.7px solid var(--d9d9d9);*/
/*    padding: var(--padding-3xl) 25.7763671875px var(--padding-3xl) 29.2236328125px;*/
/*    background-color: var(--main1);*/
/*    flex: 1;*/
/*    border-radius: 6.91px;*/
/*    box-sizing: border-box;*/
/*    height: 289px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    gap: 22px;*/
/*}*/
/*.lamp-svgrepo-com-1-icon {*/
/*    position: relative;*/
/*    width: 140px;*/
/*    height: 137px;*/
/*    overflow: hidden;*/
/*    flex-shrink: 0;*/
/*}*/
/*.homepage-floor-lamps-category {*/
/*    cursor: pointer;*/
/*    border: 0.7px solid var(--d9d9d9);*/
/*    padding: 7px 25.7763671875px var(--padding-3xl) 29.2236328125px;*/
/*    background-color: var(--main1);*/
/*    flex: 1;*/
/*    border-radius: 6.91px;*/
/*    box-sizing: border-box;*/
/*    height: 289px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    justify-content: flex-end;*/
/*    gap: 65px;*/
/*}*/
/*.floor-lamp-svgrepo-com-icon {*/
/*    position: relative;*/
/*    width: 144px;*/
/*    height: 145px;*/
/*    overflow: hidden;*/
/*    flex-shrink: 0;*/
/*}*/
/*.homepage-lamps-category {*/
/*    cursor: pointer;*/
/*    border: 0.7px solid var(--d9d9d9);*/
/*    padding: 34px 25.7763671875px var(--padding-3xl) 29.2236328125px;*/
/*    background-color: var(--main1);*/
/*    flex: 1;*/
/*    border-radius: 6.91px;*/
/*    box-sizing: border-box;*/
/*    height: 289px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    justify-content: flex-end;*/
/*    gap: var(--gap-11xl);*/
/*}*/
/*.vector-icon1 {*/
/*    position: relative;*/
/*    width: 127px;*/
/*    height: 131px;*/
/*}*/
/*.homepage-sconces-category {*/
/*    cursor: pointer;*/
/*    border: 0.7px solid var(--d9d9d9);*/
/*    padding: var(--padding-3xl) 25.7763671875px var(--padding-3xl) 29.2236328125px;*/
/*    background-color: var(--main1);*/
/*    flex: 1;*/
/*    border-radius: 6.91px;*/
/*    box-sizing: border-box;*/
/*    height: 289px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    gap: 41px;*/
/*}*/
/*.group-icon {*/
/*    position: relative;*/
/*    width: 91px;*/
/*    height: 140px;*/
/*}*/
/*.homepage-light-bulbs-category {*/
/*    cursor: pointer;*/
/*    border: 0.7px solid var(--d9d9d9);*/
/*    padding: var(--padding-3xl) 25.7763671875px var(--padding-3xl) 29.2236328125px;*/
/*    background-color: var(--main1);*/
/*    flex: 1;*/
/*    border-radius: 6.91px;*/
/*    box-sizing: border-box;*/
/*    height: 289px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    gap: var(--gap-10xl);*/
/*}*/
.homepage-category-items,
.homepage-category-items-div {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.homepage-category-items {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 1px;
    gap: 35px;
}
.homepage-category-items-div {
    position: absolute;
    top: 155px;
    left: calc(50% - 685px);
    width: 1368px;
    flex-direction: column;
}
.div9 {
    position: relative;
    font-weight: 600;
}
.homepage-category-title {
    position: absolute;
    top: 0;
    left: calc(50% - 723px);
    background-color: var(--color-dimgray);
    width: 1447px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-591xl);
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: center;
}
.homepage-category-main-div {
    position: relative;
    background: linear-gradient(
            180deg,
            rgba(247, 249, 251, 0.65),
            rgba(247, 249, 251, 0)
    );
    width: 1440px;
    height: 507px;
    overflow: hidden;
    flex-shrink: 0;
}
.homepage-line-goods {
    position: absolute;
    top: -0.25px;
    left: -0.25px;
    border-top: 0.5px solid var(--d9d9d9);
    box-sizing: border-box;
    width: 1440.5px;
    height: 0.5px;
}
.div10 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 106px;
    height: 24px;
    flex-shrink: 0;
}
.wrapper {
    width: 164px;
    height: 29px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-200);
    border: 1px solid var(--d9d9d9);
    box-sizing: border-box;
    width: 85px;
    height: 35px;
}
.span {
    color: #ea643f;
}
.span1 {
    color: var(--d9d9d9);
}
.div11 {
    position: absolute;
    top: 11px;
    left: 10px;
    display: inline-block;
    width: 55px;
    height: 14px;
}
.rectangle-group {
    position: relative;
    border-radius: var(--br-8xs);
    width: 85px;
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
}
.span2 {
    color: #000;
}
.div12 {
    position: absolute;
    top: 11px;
    left: 11px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.frame-parent,
.rectangle-container {
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
}
.rectangle-container {
    position: relative;
    width: 85px;
}
.frame-parent {
    width: 255px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
    font-size: var(--font-size-xs);
    color: var(--eb1d36);
}
.homepage-goods-filter-value-di-child {
    position: relative;
    width: 230px;
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
}
.homepage-goods-filter-value-di {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: var(--font-size-xl);
}
.container,
.div13 {
    width: 140px;
    flex-shrink: 0;
}
.div13 {
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.vector-icon2 {
    position: absolute;
    height: 72.55%;
    width: 38.2%;
    top: 13.73%;
    right: 29.36%;
    bottom: 13.73%;
    left: 32.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.arrow-right-svgrepocom1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.homepage-goods-filter-category {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-56xl);
}
.div18 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 133px;
    flex-shrink: 0;
}
.homepage-goods-filter-div {
    position: absolute;
    top: 211px;
    left: 139px;
    width: 271px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
}
.homepage-goods-single-pic-icon {
    position: relative;
    width: 201px;
    height: 193px;
    object-fit: cover;
}
.span4 {
    color: var(--eb1d36);
}
.div21 {
    position: relative;
    font-weight: 500;
}
.homepage-goods-single-view-pri {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div22 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
}
.homepage-goods-single-view-nam1 {
    position: relative;
    width: 122px;
    height: 19px;
    overflow: hidden;
    flex-shrink: 0;
}
.div23 {
    position: absolute;
    top: 0;
    left: 0;
}
.homepage-goods-single-view-ava {
    position: relative;
    width: 122px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-xs);
}
.homepage-goods-single-view-nam {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xs);
    font-size: var(--font-size-mini);
}
.div24 {
    position: absolute;
    top: 11px;
    left: 69px;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-montserrat-alternates);
    color: var(--color-oldlace-100);
    text-align: left;
}
.homepage-goods-single-view-btn {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--eb1d36);
    position: relative;
    border-radius: var(--br-8xs);
    width: 201px;
    height: 39px;
    overflow: hidden;
    flex-shrink: 0;
}
.homepage-goods-single-view,
.homepage-goods-single-view1 {
    border-radius: var(--br-8xs);
    background-color: var(--main);
    border: 1px solid var(--d9d9d9);
    box-sizing: border-box;
    width: 250px;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-6xl);
    gap: var(--gap-lg);
}
.homepage-goods-single-view {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.homepage-goods-single-view1 {
    height: 392px;
}
.homepage-goods-list,
.homepage-goods-list-of-3-items,
.homepage-goods-single-view1 {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.homepage-goods-list-of-3-items {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-41xl);
}
.homepage-goods-list {
    position: absolute;
    top: 253px;
    left: 436px;
    width: 870px;
    flex-direction: column;
    gap: 50px;
    font-size: var(--font-size-sm);
}
/*.div81 {*/
/*    position: relative;*/
/*    font-size: var(--font-size-base);*/
/*    font-weight: 500;*/
/*    font-family: var(--font-montserrat-alternates);*/
/*    color: var(--d9d9d9);*/
/*    text-align: left;*/
/*}*/
.homepage-goods-list-of-btns-applyed,
.homepage-goods-list-of-btns-not-applyed {
    cursor: pointer;
    border: 1px solid var(--d9d9d9);
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.homepage-goods-list-of-btns-applyed {
    padding: var(--padding-sm) 0;
    background-color: rgba(108, 172, 192, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
}
.homepage-goods-list-of-btns-not-applyed {
    padding: var(--padding-sm) var(--padding-lgi);
    background-color: var(--color-gray-300);
    align-items: flex-end;
}
/*.span19 {*/
/*    font-size: var(--font-size-base);*/
/*}*/
/*.span20 {*/
/*    font-size: var(--font-size-xl);*/
/*}*/
.div83 {
    position: relative;
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
    color: var(--d9d9d9);
    text-align: left;
    display: inline-block;
    width: 9px;
    height: 20px;
    flex-shrink: 0;
}
/*.homepage-goods-list-of-btns-3 {*/
/*    cursor: pointer;*/
/*    border: 1px solid var(--d9d9d9);*/
/*    padding: 11px 0;*/
/*    background-color: var(--color-gray-300);*/
/*    border-radius: var(--br-8xs);*/
/*    box-sizing: border-box;*/
/*    width: 49px;*/
/*    height: 49px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/
.div84 {
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
    color: var(--d9d9d9);
    text-align: left;
}
.homepage-goods-list-of-btns-be {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) 0;
    background-color: transparent;
    width: 49px;
    height: 49px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
}
.div85 {
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
    color: var(--d9d9d9);
    text-align: left;
    display: inline-block;
    width: 13px;
    height: 20px;
    flex-shrink: 0;
}
/*.homepage-goods-list-of-btns-4 {*/
/*    cursor: pointer;*/
/*    border: 1px solid var(--d9d9d9);*/
/*    padding: var(--padding-sm) 0;*/
/*    background-color: var(--color-gray-300);*/
/*    border-radius: var(--br-8xs);*/
/*    box-sizing: border-box;*/
/*    width: 49px;*/
/*    height: 49px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*}*/
/*.div86 {*/
/*    position: relative;*/
/*    font-weight: 500;*/
/*    font-family: var(--font-montserrat-alternates);*/
/*    color: var(--d9d9d9);*/
/*    text-align: left;*/
/*    display: inline-block;*/
/*    width: 74px;*/
/*    flex-shrink: 0;*/
/*}*/
.arrow-right-svgrepocom-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.homepage-goods-list-of-btns-ne {
    cursor: pointer;
    border: 1px solid var(--d9d9d9);
    padding: 13px var(--padding-9xs) 0 26px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    width: 136px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.homepage-goods-article,
.homepage-goods-list-of-btns {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.homepage-goods-list-of-btns {
    top: 2467px;
    left: 618px;
    width: 506px;
    height: 49px;
    overflow: hidden;
    justify-content: flex-start;
    gap: var(--gap-6xl);
}
.homepage-goods-article {
    top: 41px;
    left: 137px;
    width: 1168px;
    justify-content: center;
    font-size: var(--font-size-21xl);
    color: var(--eb1d36);
}
.homepage-goods-filter-article {
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) 0 var(--padding-3xs) 5px;
    align-items: center;
    justify-content: flex-start;
}
.div89 {
    position: relative;
}
.search-input {
    background-color: var(--main);
    border: 1px solid var(--main1);
    box-sizing: border-box;
    width: 273px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm) 28px;
    align-items: flex-start;
    justify-content: flex-end;
}
.search-icon {
    position: absolute;
    height: 63.05%;
    width: 63.05%;
    top: 17.48%;
    right: 19.48%;
    bottom: 19.48%;
    left: 17.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.search-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    background: linear-gradient(#6cacc0, #6cacc0), #fff;
    width: 50px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
}
.navbar-search-input {
    border-radius: var(--br-8xs);
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-base);
    color: #6da5a8;
}
.homepage-goods-articlesearch- {
    position: absolute;
    top: 108px;
    left: 135px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
}
.homepage-goods-main-div {
    position: relative;
    width: 1440px;
    height: 2516px;
    font-size: var(--font-size-base);
    color: var(--d9d9d9);
}
.homepage-experemental {
    position: relative;
    background-color: var(--f5eddc);
    width: 100%;
    height: 3999px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 0 171px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 85px;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-cornsilk);
    font-family: var(--font-montserrat-alternates);
}


