@import url('Font.css');
/*@import url('reset.css');*/
/*@import url('slick.css');*/

:root {
    --color-1: #4A4A4A;
    --color-2: #535454;
    --color-3: #EB1D36;
    --color-4: #6CACC0;
    --color-5: #D6E4E5;
    --color-6: #EFF5F5;
    --color-7: #FDF5E5;
}












/*background: #EB1D36;*/

/*position: absolute;*/
/*width: 1440px;*/
/*height: 117px;*/
/*left: 0px;*/
/*top: 0px;*/

